body{
    background: #dedede;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    line-height: 1.6;
    color: #333;
}
form{
    margin: 15px;
}
input{
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ccc;
}
label {
    margin-bottom: 20px;
}
.container{
    max-width: 600px;
    background: white;
    margin: 15px auto;
    padding: 15px;
    overflow: auto;
}
h1{
    text-align: center;
}
.btn-submit{
    width: 100px;
    margin: 15px 0;
    float: left;
}
a {
    text-decoration: none;
    color: #474747;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
p{
    margin-bottom: 25px;
}
.navbar-logo {
    position: relative;
    width: 100px;
}
input[type="radio"] {
    width: 15px;
    margin-left: 10px;
}
span.error {
    color: red;
}